name: Release to Maven Central
env:
  MAVEN_ARGS: -V -ntp -e
on:
  release:
    types: [ released ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: change version to release version
        # Assume that RELEASE_VERSION will have form like: "v1.0.1". So we cut the "v"
        run: ./mvnw ${MAVEN_ARGS} versions:set -DnewVersion="${RELEASE_VERSION:1}" versions:commit
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}

      - name: Publish to Apache Maven Central
        run: mvn package deploy -Prelease
        env:
          MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}


  # This is separate job because there were issues with git after release step, was not able to commit changes. See history.
  update-working-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Java and Maven
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'
      - name: change version to release version
        run: |
          ./mvnw ${MAVEN_ARGS} versions:set -DnewVersion="${RELEASE_VERSION:1}" versions:commit
          ./mvnw ${MAVEN_ARGS} -q build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion}-SNAPSHOT versions:commit
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Set new SNAPSHOT version into pom files." -a
        env:
          RELEASE_VERSION: ${{ github.event.release.tag_name }}
      - name: Push changes v2
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
